*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    border: 2px solid rgb(8, 36, 97);
    text-align: center;
}

div{
    border: 2px solid rgb(51, 96, 180);
    display: inline;
    margin-right: 20px;
    padding-inline: 18px;
}